 
 <!--=== Copyright ===-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-1">  
                    <img src="graphics/pa-logo.png" height="42" width="42">
                </div>
                <div class="col-md-11">                     
                    <p>
                        Confidential information is contained in this system. Communication of any information in the system to any unauthorised person is an offence under the Official Secrets Act (Cap 213)
                    </p>
                </div>
                
            </div>
        </div> 
    </div><!--/copyright--> 
    <!--=== End Copyright ===-->
