<!-- Static navbar -->
<script src="lib/jquery-1.10.2.min.js"></script>
<script>
function getUrlParameter(sParam)
{
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) 
    {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) 
        {
            return sParameterName[1];
        }
    }
}    

$(document).ready(function(){
    var user = getUrlParameter("username")
    $("a#myreport").prop("href","report-detail.html?username="+user)
    $("#user").text("Welcome, "+ user);
    if(user=="sherry"){
        $("#log").hide();
        $("#breport").hide();
        $("#dreport").hide();
        $("#ereport").hide();
    }
    else{
        $("#log").show();
        $("#breport").show();
        $("#dreport").show();
        $("#ereport").show();
    }
});
</script> 

<div class="header">
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container-float">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Product -->
                        <li><a href="content.html">
                                <i class="fa fa-home"></i>
                                Home
                            </a></i></li>
                        <li {% if include.menuchoice == 'product' %} class="dropdown active" {% else %} class="dropdown" {% endif %}>
                            
                            <a id="myreport" href="" class="dropdown-toggle">
                                <i class="fa fa-bar-chart-o"></i>
                                Reports
                            </a>
                            <ul class="dropdown-menu">
                                <li><a target="_blank" href="report.html">Information Report on New Residents, New PRs and NCs for all Division</a></li>
                                <li id="areport"><a target="_blank" href="report.html">Statistic Report on New Residents, New PRs and NCs for all Division</a></li>
                                <li><a target="_blank" href="report.html">House Visit Report</a></li>
                                <li id="dreport"><a target="_blank" href="report.html">Report on SCEF KPI Achievement</a></li>
                                <li id="ereport"><a target="_blank" href="report.html">Report on Welcome Letter Automated Update</a></li>
                            </ul>
                        </li>
                        <!-- End Product -->
                        <!-- Partners -->
                        <li {% if include.menuchoice == 'partners' %} class="dropdown active" {% else %} class="dropdown" {% endif %}>
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-gear"></i>
                                Administrator
                            </a>
                            <ul class="dropdown-menu">
                              <li><a target="_blank" href="#">View Logs</a></li>
                              <li><a target="_blank" href="#">Unlock Functions</a></li>
                              <li><a target="_blank" href="#">User Management</a></li>
                            </ul>
                        </li>
                        <!-- End Partners -->
                        <li>
                            <input style="margin-top:7px" type="text">
                        </li>
                        <!-- Search Block -->
                        <li>
                            <i class="search fa fa-search search-btn"></i>
                            <div class="search-open">
                                <div class="input-group animated fadeInDown">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="button">Go</button>
                                    </span>
                                </div>
                            </div>    
                        </li>
                        <!-- End Search Block -->
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li>

                            <a id="user" href="#"> 
                            </a>
                        </li>
                        <li><a href="login.html">
                            <i class="fa fa-sign-out"></i>
                            Logout</a></li> 
                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
        <!-- End Navbar -->
</div>