<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link href="bootstrap/css/cerulean-bootstrap.min.css" rel="stylesheet" media="screen"-->
    <!--link href="elixirtech.css" rel="stylesheet"-->
    <link rel="shortcut icon" href="favicon.png">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/unify/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/unify/Simple-Line-Icons/simple-line-icons.css">
    
   
    <link rel="stylesheet" href="/css/pages/page_log_reg_v2.css">  
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="/css/themes/default.css" id="style_color">

    <title>{{page.title}}</title>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
    <body>
      <i class="style-switcher-btn fa fa-cogs hidden-xs animated fadeInRight"></i>
      <div class="style-switcher animated fadeInRight">
      <div class="theme-close"><i class="icon-close"></i></div>
      <div class="theme-heading">Theme Colors</div>
        <ul class="list-unstyled">
          <li class="theme-default theme-active" data-style="default" data-header="light"></li>
          <li class="theme-blue" data-style="blue" data-header="light"></li>
          <li class="theme-orange" data-style="orange" data-header="light"></li>
          <li class="theme-red" data-style="red" data-header="light"></li>
          <li class="theme-light last" data-style="light" data-header="light"></li>
          <li class="theme-purple" data-style="purple" data-header="light"></li>
          <li class="theme-aqua" data-style="aqua" data-header="light"></li>
          <li class="theme-brown" data-style="brown" data-header="light"></li>
          <li class="theme-dark-blue" data-style="dark-blue" data-header="light"></li>
          <li class="theme-light-green last" data-style="light-green" data-header="light"></li>        
        </ul>
      </div><!--/style-switcher-->
      <!--div class="wrapper"-->
        
          {{ content }}
        
      <!--/div-->
      {% include footer.html %}
       <!-- JS Global Compulsory -->  
      <script src="/lib/jquery-1.10.2.min.js"></script>
      <script type="text/javascript" src="/lib/jquery-migrate-1.2.1.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
              

<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="/unify/back-to-top.js"></script>
<script type="text/javascript" src="/unify/horizontal-parallax/js/sequence.jquery-min.js"></script>
<script type="text/javascript" src="/unify/bxslider/jquery.bxslider.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="/unify/app.js"></script>
<script type="text/javascript" src="/unify/owl-carousel/owl-carousel.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        
    });
</script>
    </body>
</html>
